.underline{
    text-decoration: underline;
    text-decoration-color: blue;
  }

  .centerSearch{
      align-items: center;
  }

  .alignSearch{
    align-items: center;
    display: inline-block;
  }